{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
                <!-- /page header -->
                <div class="content">
                    <div class="row">

                         <!-- Page length options -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">{{ 'usersparamnature.list'|trans({}, 'usersparamnature') }}</h5><br/>
                                <button type="button" class="btn bg-teal-400 btn-labeled legitRipple" onclick="document.location='{{ path('usersparamnature_new', {'idType': app.request.get('idType')})}}'">
                                    <b><i class="icon-add"></i></b> {{ 'usersparamnature.add_button'|trans({}, 'usersparamnature') }}
                                </button>

                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="close" href="{{ path('usersparamnature_index')}}"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <table class="table datatable-basic">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ 'usersparamnature.label'|trans({}, 'usersparamnature') }}</th>
                                        <th>{{ 'global.actions'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for param in usersParamNatures %}
                                    <tr>
                                        <td><a href="{{ path('usersparamnature_show', { 'id': param.id }) }}">{{ param.id }}</a></td>
                                        <td>{{ param.label }}</td>
                                        <td class="text-center">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-menu9"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="{{ path('usersparamnature_edit', { 'id': param.id }) }}"><i class="icon-pen"></i> {{ 'usersparamnature.edit_button'|trans({}, 'usersparamnature') }}</a></li>
                                                        <li><a href="{{ path('usersparamnature_delete', { 'id': param.id }) }}" data-target="#modal_remote" data-toggle="modal"><i class="icon-folder-remove"></i> {{ 'usersparamnature.del_button'|trans({}, 'usersparamnature') }}</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
{% endblock %}
