<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h5 class="modal-title">{{ 'projectalert.confirm_title'|trans([], 'projectalert') }}</h5>
</div>

<div class="modal-body">
    <h2>{{ 'projectalert.confirm_delete'|trans([], 'projectalert')}}</h2>
    {{ form_start(delete_form, {'attr': {'id': 'projectalert_form'}}) }}
    {{ form_end(delete_form) }}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal">{{ 'projectalert.close_button'|trans([], 'projectalert') }}</button>
    <button type="button" class="btn btn-primary" onclick="jQuery('#projectalert_form').submit()">{{ 'projectalert.confirm_button'|trans([], 'projectalert') }}</button>
</div>
