{% extends 'base.html.twig' %}

{% block body %}
    {# adding head of header page #}
    {% include 'header.html.twig' %}

        <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Form horizontal -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'projectversionusers.creation'|trans({}, 'projectversionuser') }}</h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="close" href="{{ path('projectversionuser_index') }}"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                            <fieldset class="content-group">
                                <fieldset class="content-group">
                                <legend class="text-bold">{{ 'project.legend_project'|trans({}, 'project')}}</legend>
                                <div class="row">
                                    <div class="form-group">
                                        {% set name = 'projectversionusers.idProjetVersion'|trans({}, 'projectversionuser') %}
                                        {{ form_label(form.idProjetVersion, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.idProjetVersion, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <legend class="text-bold">{{ 'project.legend_user'|trans({}, 'project')}}</legend>
                                <div class="row">
                                    <div class="form-group">
                                        {% set name = 'project.idUser'|trans({}, 'project') %}
                                        {{ form_label(form.idUser, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.idUser, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'projectversionusers.idRole'|trans({}, 'projectversionuser') %}
                                        {{ form_label(form.idRole, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.idRole, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'projectversionusers.mission'|trans({}, 'projectversionuser') %}
                                        {{ form_label(form.mission, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.mission, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <legend class="text-bold">{{ 'project.legend_date'|trans({}, 'project')}}</legend>
                                <div class="row">
                                    <div class="form-group">
                                        {% set name = 'projectversionusers.datedebut'|trans({}, 'projectversionuser') %}
                                        {{ form_label(form.datedebut, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.datedebut, {'attr': {'class': 'form-control datepicker'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'projectversionusers.datefin'|trans({}, 'projectversionuser') %}
                                        {{ form_label(form.datefin, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.datefin, {'attr': {'class': 'form-control datepicker'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">{{ 'projectversionusers.submit_button'|trans({}, 'projectversionuser') }} <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        {{ form_end(form, {'render_rest': true}) }}
                        <script type="text/javascript">
                            (function($){
                                /* pour projet redirection */
                                $('[name*="[idProjetVersion]"]').on('change', function(){
                                    var _location = document.location.href.toString().split('?');
                                    _location = _location[0];
                                    redirectTo(_location + '?idProject=' + this.value);
                                });
                            }(jQuery));
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'foot.html.twig' %}
{% endblock %}