{% extends 'base.html.twig' %}

{% block body %}
    {# adding head of header page #}
    {% include 'header.html.twig' %}

    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Form horizontal -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'crmparamactivities.creation'|trans({}, 'crmparamactivities') }}</h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="close" href="{{ path('crmparamactivities_index') }}"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        {{ form_start(form) }}
                            <fieldset class="content-group">
                                <label class="text-bold">{{ 'crmparamactivities.legend_info'|trans({}, 'crmparamactivities') }}</label>
                                <div class="form-group">
                                    {% set name = 'crmparamactivities.open'|trans({}, 'crmparamactivities') %}
                                    {{ form_label(form.ouvert, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.ouvert, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% set name = 'crmparamactivities.label'|trans({}, 'crmparamactivities') %}
                                    {{ form_label(form.label, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% set name = 'crmparamactivities.couleur'|trans({}, 'crmparamactivities') %}
                                    {{ form_label(form.couleur, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.couleur, {'attr': {'class': 'form-control colorpicker-show-input'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% set name = 'crmparamactivities.obs'|trans({}, 'crmparamactivities') %}
                                    {{ form_label(form.obs, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.obs, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    {% set name = 'crmparamactivities.nomcouleur'|trans({}, 'crmparamactivities') %}
                                    {{ form_label(form.nomcouleur, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.nomcouleur, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% set name = 'crmparamactivities.imgcouleur'|trans({}, 'crmparamactivities') %}
                                    {{ form_label(form.imgcouleur, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.imgcouleur, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% set name = 'crmparamactivities.logo'|trans({}, 'crmparamactivities') %}
                                    {{ form_label(form.logo, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.logo, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% set name = 'crmparamactivities.version'|trans({}, 'crmparamactivities') %}
                                    {{ form_label(form.version, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.version, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                
                            </fieldset>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">{{ 'crmparamactivities.save_button'|trans({}, 'crmparamactivities') }} <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        {{ form_end(form, {'render_rest': true}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'foot.html.twig' %}
{% endblock %}
