<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h5 class="modal-title">{{ 'IssuesOrganisation.confirm_title'|trans([], 'IssuesOrganisation') }}</h5>
</div>

<div class="modal-body">
    <h2>{{ 'IssuesOrganisation.confirm_delete'|trans([], 'IssuesOrganisation')}}</h2>
    {{ form_start(delete_form, {'attr': {'id': 'IssuesOrganisation_form'}}) }}
    {{ form_end(delete_form) }}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal">{{ 'IssuesOrganisation.close_button'|trans([], 'IssuesOrganisation') }}</button>
    <button type="button" class="btn btn-primary" onclick="jQuery('#IssuesOrganisation_form').submit()">{{ 'IssuesOrganisation.confirm_button'|trans([], 'IssuesOrganisation') }}</button>
</div>