<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h5 class="modal-title">{{ 'project.confirm_title'|trans([], 'project') }}</h5>
</div>

<div class="modal-body">
    <h2>{{ 'userdocs.confirm_delete'|trans([], 'userdocs')}}</h2>
    {{ form_start(delete_form, {'attr': {'id': 'project_form'}}) }}
    {{ form_end(delete_form) }}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal">{{ 'project.close_button'|trans([], 'project') }}</button>
    <button type="button" class="btn btn-primary" onclick="jQuery('#project_form').submit()">{{ 'project.confirm_button'|trans([], 'project') }}</button>
</div>