{% extends 'base.html.twig' %}

{# titre de la page #}
{% block title %}Back Office - {{ 'resultat.title'|trans({}, 'resultat') }}{% endblock %}

{% block body %}
    {# adding head of header page #}
    {% include 'header.html.twig' %}
    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'resultat.list'|trans({}, 'resultat') }}</h5><br/>
                        <button type="button" class="btn bg-teal-400 btn-labeled legitRipple" onclick="document.location='{{ path('back_resultat_new')}}'">
                            <b><i class="icon-add"></i></b> {{ 'resultat.add_button'|trans({}, 'resultat') }}
                        </button>

                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="close" href="{{ path('back_resultat_index')}}"></a></li>
                            </ul>
                        </div>
                    </div>
                {% if resultats %}
                    <table class="table datatable-basic">
                        <thead>
                            <tr>
                                <th>{{ '#' }}</th>
                                <th>{{ 'resultat.open'|trans({}, 'resultat') }}</th>
                                <th>{{ 'resultat.label'|trans({}, 'resultat') }}</th>
                                <th class="col-md-2 text-center">{{ 'resultat.couleur'|trans({},'resultat') }}</th>
                                <th class="col-md-1 text-center">{{ 'resultat.logo'|trans({},'resultat') }}</th>
                                <th class="text-center">{{ 'resultat.actions'|trans({}, 'resultat') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resultat in resultats %}
                            <tr>
                                <td style="cursor:pointer">{{ resultat.id }}</td>
                                <td>
                                    {% if resultat.ouvert %}
                                    <span class="label label-info">{{ 'global.yes'|trans }}</span> {% else %}
                                    <span class="label label-default">{{ 'global.no'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ resultat.label }}</td>
                                <td class="col-md-2 text-center" style="background: {{ resultat.couleur }};">{{ resultat.couleur }}</td>
                                <td class="col-md-1 text-center">
                                    {% if isFile(resultat.logo) %}
                                        <img src="{{ asset('uploads/' ~ resultat.logo ) }}" alt="logo" style="max-width: 50%" />
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="{{ path('back_resultat_edit', { 'id': resultat.id }) }}"><i class="icon-pen"></i> {{ 'resultat.edit_button'|trans({}, 'resultat') }}</a></li>
                                                <li><a href="{{ path('back_resultat_delete', { 'id': resultat.id }) }}"
                                                    data-target="#modal_remote" data-toggle="modal"><i class="icon-folder-remove"></i> {{ 'resultat.del_button'|trans({}, 'resultat') }}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table datatable-show-all">
                        <tbody>
                            <tr>
                                <td>{{ 'resultat.no_data'|trans({}, 'resultat') }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
                </div>
            </div>
        </div>
    </div>  
    {# footer #}          
    {% include 'foot.html.twig' %}

{% endblock %}