<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h5 class="modal-title">{{ 'resultat.confirm_title'|trans({}, 'resultat') }}</h5>
</div>

<div class="modal-body">
    <h2>{{ 'resultat.confirm_delete'|trans({}, 'resultat')}}</h2>
    {{ form_start(delete_form, {'attr': {'id': 'resultat_form'}}) }}
    {{ form_end(delete_form) }}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal">{{ 'resultat.close_button'|trans({}, 'resultat') }}</button>
    <button type="button" class="btn btn-primary" onclick="jQuery('#resultat_form').submit()">{{ 'resultat.confirm_button'|trans({}, 'resultat') }}</button>
</div>
