{% extends 'base.html.twig' %}

{% block body %}
    {# adding head of header page #}
    {% include 'header.html.twig' %}

    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Form horizontal -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'crmparamcyclestype.edition'|trans({}, 'crmparamcyclestype') }}</h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="close" href="{{ path('crmparamcyclestype_index') }}"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        {{ form_start(edit_form) }}
                            <fieldset class="content-group">
                                <label class="text-bold">{{ 'crmparamcyclestype.legend_info'|trans({}, 'crmparamcyclestype') }}</label>
                                <div class="form-group col-lg-12">
                                    {% set name = 'crmparamcyclestype.open'|trans({}, 'crmparamcyclestype') %}
                                    {{ form_label(edit_form.ouvert, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(edit_form.ouvert, {'attr': {'class': 'form-control switchery'}}) }}
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    {% set name = 'crmparamcyclestype.label'|trans({}, 'crmparamcyclestype') %}
                                    {{ form_label(edit_form.label, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(edit_form.label, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                
                            </fieldset>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">{{ 'crmparamcyclestype.save_button'|trans({}, 'crmparamcyclestype') }} <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        {{ form_end(edit_form, {'render_rest': true}) }}
                    </div>
                </div>
                <!-- /form horizontal -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    {% include 'foot.html.twig' %}
{% endblock %}
