{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

        <div class="content">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <!-- Marketing campaigns -->
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h5 class="panel-title">{{ 'relationbusinessentite.list'|trans({}, 'relationbusinessentite') }}</h5><br/>
                            <button type="button" class="btn bg-teal-400 btn-labeled legitRipple" onclick="document.location='{{ path('relationbusinessentite_new') }}'">
                                <b><i class="icon-add"></i></b> {{ 'relationbusinessentite.add_button'|trans({}, 'relationbusinessentite') }}
                            </button>
                        </div>
                    {% if relationBusinessEntites %}
                        <table class="table datatable-basic">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'relationbusinessentite.entitej'|trans({}, 'relationbusinessentite') }}</th>
                                    <th>{{ 'relationbusinessentite.business'|trans({}, 'relationbusinessentite') }}</th>
                                    <th>{{ 'relationbusinessentite.relation'|trans({}, 'relationbusinessentite') }}</th>
                                    <th>{{ 'global.actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for relation in relationBusinessEntites %}
                                <tr>
                                    <td>{{ relation.id }}</td>
                                    <td>{{ relation.entite.raisonSociale }}</td>
                                    <td>{{ relation.businessunit.nomBusinessUnit }}</td>
                                    <td>{{ relation.relationsProfessionnelles.label }}</td>
                                    
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="{{ path('relationbusinessentite_edit', { 'id': relation.id }) }}"><i class="icon-pen"></i> {{ 'relationbusinessentite.edit_button'|trans({}, 'relationbusinessentite') }}</a></li>
                                                    <li><a href="{{ path('relationbusinessentite_delete', { 'id': relation.id }) }}" data-target="#modal_remote" data-toggle="modal"><i class="icon-folder-remove"></i> {{ 'relationbusinessentite.del_button'|trans({}, 'relationbusinessentite') }}</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    <table class="table datatable-show-all">
                        <tbody>
                            <tr>
                                <td>{{ 'relationbusinessentite.no_data'|trans({}, 'relationbusinessentite') }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
                
{% endblock %}
