{% extends 'base.html.twig' %}

{# titre de la page #}
{% block title %}Back Office - priorite{% endblock %}

{% block body %}
    {# adding head of header page #}
    {% include 'header.html.twig' %}

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page length options -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'priorite.list'|trans({}, 'priorite') }}</h5><br/>
                        <button type="button" class="btn bg-teal-400 btn-labeled legitRipple" onclick="document.location='{{ path('back_priorites_new')}}'">
                            <b><i class="icon-add"></i></b> {{ 'priorite.add_button'|trans({}, 'priorite') }}
                        </button>

                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="close" href="{{ path('back_priorites_index')}}"></a></li>
                            </ul>
                        </div>
                    </div>
                {% if priorites %}
                    <table class="table datatable-basic">
                        <thead>
                            <tr>
                                <th>{{ 'priorite.open'|trans({}, 'priorite') }}</th>
                                <th>{{ 'priorite.label'|trans({}, 'priorite') }}</th>
                                <th class="col-md-2 text-center">{{ 'priorite.couleur'|trans({},'priorite') }}</th>
                                <th class="col-md-1 text-center">{{ 'priorite.logo'|trans({},'priorite') }}</th>
                                <th class="text-center no-sort">{{ 'priorite.actions'|trans({}, 'priorite') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for priorite in priorites %}
                            <tr>
                                <td>
                                    {% if priorite.ouvert %}
                                    <span class="label label-info">{{ 'global.yes'|trans }}</span> {% else %}
                                    <span class="label label-default">{{ 'global.no'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ priorite.label }}</td>
                                <td class="col-md-2 text-center" style="background: {{ priorite.couleur }};">{{ priorite.couleur }}</td>
                                <td class="col-md-1 text-center">
                                    {% if priorite.logo %}
                                        <img src="{{ asset('uploads/' ~ priorite.logo ) }}" alt="logo" style="max-width: 50%" />
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="{{ path('back_priorites_edit', { 'id': priorite.id }) }}"><i class="icon-pen"></i> {{ 'priorite.edit_button'|trans({}, 'priorite') }}</a></li>
                                                <li><a href="{{ path('back_priorites_delete', { 'id': priorite.id }) }}"
                                                    data-target="#modal_remote" data-toggle="modal"><i class="icon-folder-remove"></i> {{ 'priorite.del_button'|trans({}, 'priorite') }}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table datatable-show-all">
                        <tbody>
                            <tr>
                                <td>{{ 'priorite.no_data'|trans({}, 'priorite') }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
                </div>
            </div>
        </div>
    </div>  
    {# footer #}          
    {% include 'foot.html.twig' %}

{% endblock %}