{% extends 'base.html.twig' %}

{% block body %}
    <h1>Langage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ langage.id }}</td>
            </tr>
            <tr>
                <th>Iso</th>
                <td>{{ langage.iso }}</td>
            </tr>
            <tr>
                <th>Labels</th>
                <td>{{ langage.labels }}</td>
            </tr>
            <tr>
                <th>Abr</th>
                <td>{{ langage.abr }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('common_langage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('common_langage_edit', { 'id': langage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
