<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h5 class="modal-title">{{ 'IssuesRealisations.confirm_title'|trans([], 'IssuesRealisations') }}</h5>
</div>

<div class="modal-body">
    <h2>{{ 'IssuesRealisations.confirm_delete'|trans([], 'IssuesRealisations')}}</h2>
    {{ form_start(delete_form, {'attr': {'id': 'IssuesRealisations_form'}}) }}
    {{ form_end(delete_form) }}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal">{{ 'IssuesRealisations.close_button'|trans([], 'IssuesRealisations') }}</button>
    <button type="button" class="btn btn-primary" onclick="jQuery('#IssuesRealisations_form').submit()">{{ 'IssuesRealisations.confirm_button'|trans([], 'IssuesRealisations') }}</button>
</div>