{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h2>{{ 'crmdocsenvoyes.edition'|trans({}, 'crmdocsenvoyes') }}</h2>
                    </div>
                    <div class="panel-body">
                    {{ form_start(edit_form, {'attr': {'class':'form-horizontal'}}) }}
                            <fieldset class="content-group">
                                <legend class="text-bold">{{ 'crmdocsenvoyes.crm'|trans({}, 'crmdocsenvoyes') }}</legend>
                                <div class="row">
                                    <div class="form-group">
                                        {% set name = 'crmdocsenvoyes.idCrm'|trans({}, 'crmdocsenvoyes') %}
                                        {{ form_label(edit_form.idCrm, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(edit_form.idCrm, {'attr': {'class': 'form-control select2-search'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'crmdocsenvoyes.idOperation'|trans({}, 'crmdocsenvoyes') %}
                                        {{ form_label(edit_form.idOperation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(edit_form.idOperation, {'attr': {'class': 'form-control select2-search'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <legend class="text-bold">{{ 'crmdocsenvoyes.info'|trans({}, 'crmdocsenvoyes') }}</legend>
                                <div class="row">
                                    <div class="form-group">
                                        {% set name = 'crmdocsenvoyes.designation'|trans({}, 'crmdocsenvoyes') %}
                                        {{ form_label(edit_form.designation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(edit_form.designation, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'crmdocsenvoyes.nomdoc'|trans({}, 'crmdocsenvoyes') %}
                                        {{ form_label(edit_form.nomdoc, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {% set preview = asset('uploads/document/' ~ edit_form.vars.value.nomdoc )|default('') %}
                                            {{ form_widget(edit_form.nomdoc, {'attr': {'class': 'form-control upload-file', 'data-preview': preview, 'filetype': filetype|default('')}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'crmdocsenvoyes.dateEnvoi'|trans({}, 'crmdocsenvoyes') %}
                                        {{ form_label(edit_form.dateEnvoi, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(edit_form.dateEnvoi, {'attr': {'class': 'form-control datepicker'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        {% set name = 'crmdocsenvoyes.idTypedoc'|trans({}, 'crmdocsenvoyes') %}
                                        {{ form_label(edit_form.idTypedoc, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(edit_form.idTypedoc, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'crmdocsenvoyes.origine'|trans({}, 'crmdocsenvoyes') %}
                                        {{ form_label(edit_form.origine, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(edit_form.origine, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <legend class="text-bold">{{ 'crmdocsenvoyes.other'|trans({}, 'crmdocsenvoyes') }}</legend>
                                <div class="row">
                                    <div class="form-group">
                                        {% set name = 'crmdocsenvoyes.referenceInterne'|trans({}, 'crmdocsenvoyes') %}
                                        {{ form_label(edit_form.referenceInterne, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(edit_form.referenceInterne, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'crmdocsenvoyes.reference'|trans({}, 'crmdocsenvoyes') %}
                                        {{ form_label(edit_form.reference, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(edit_form.reference, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'crmdocsenvoyes.idBiblio'|trans({}, 'crmdocsenvoyes') %}
                                        {{ form_label(edit_form.idBiblio, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(edit_form.idBiblio, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'crmdocsenvoyes.idMail'|trans({}, 'crmdocsenvoyes') %}
                                        {{ form_label(edit_form.idMail, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(edit_form.idMail, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            <button type="submit" class="btn btn-primary" value="Create">
                                {{ 'crmdocsenvoyes.save_button'|trans({}, 'crmdocsenvoyes') }}
                                <i class="icon-arrow-right14 position-right"></i>
                            </button>
                        {{ form_end(edit_form, {'render_rest': true}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>  
    </div>
{% endblock %}
