{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
                <!-- /page header -->
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <!-- Marketing campaigns -->
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h6 class="panel-title">{{ 'crmdocsenvoyes.title'|trans({}, 'crmdocsenvoyes') }}</h6>
                                    <div class="heading-elements">
                                        <button type="button" class="btn btn-primary pull-left" onclick="document.location.href = '{{ path('crmdocsenvoyes_new') }}'"><i class="icon-add position-left"></i>{{ 'crmdocsenvoyes.add_button'|trans({}, 'crmdocsenvoyes') }}</button>
                                        <span class="label bg-success heading-text">{{ crmDocsEnvoyes|length }} {{ 'global.active'|trans }}</span>
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#"><i class="icon-sync"></i> {{ 'global.update_data'|trans }}</a></li>
                                                    <li><a href="#"><i class="icon-list-unordered"></i> {{ 'global.detail_log'|trans }}</a></li>
                                                    <li><a href="#"><i class="icon-pie5"></i> {{ 'global.statistics'|trans }}</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#"><i class="icon-cross3"></i> {{ 'global.clear_list'|trans }}</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="">
                                    <table class="table text-nowrap datatable-basic">
                                        <thead>
                                            <tr>
                                                <th>{{ 'crmdocsenvoyes.designation'|trans({}, 'crmdocsenvoyes') }}</th>
                                                <th>{{ 'crmdocsenvoyes.idCrm'|trans({}, 'crmdocsenvoyes') }}</th>
                                                <th>{{ 'crmdocsenvoyes.idOperation'|trans({}, 'crmdocsenvoyes') }}</th>
                                                <th>{{ 'crmdocsenvoyes.dateEnvoi'|trans({}, 'crmdocsenvoyes') }}</th>
                                                <th>{{ 'crmdocsenvoyes.download'|trans({}, 'crmdocsenvoyes') }}</th>
                                                <th class="no-sort">{{ 'global.actions'|trans }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for crmDocsEnvoye in crmDocsEnvoyes %}
                                            <tr>
                                                <td>{{ crmDocsEnvoye.designation|capitalize }}</td>
                                                <td>{{ crmDocsEnvoye.crm.label|capitalize }}</td>
                                                <td>{% if crmDocsEnvoye.operation %}{{ crmDocsEnvoye.operation.objet|capitalize }}{% endif %}</td>
                                                <td>{{ crmDocsEnvoye.dateEnvoi|date(date_format) }}</td>
                                                <td>
                                                    {% set is_file = isFile(crmDocsEnvoye.nomdoc, 'document') %}
                                                    {% if crmDocsEnvoye.nomdoc and is_file != false %}
                                                        <a href="{{ asset('uploads/document/') ~ crmDocsEnvoye.nomdoc }}" target="_blank">
                                                        ({{ crmDocsEnvoye.nomdoc }})
                                                        <i class="icon-attachment position-left"></i>
                                                        </a>
                                                    {% else %}
                                                        {{ 'global.no_file'|trans }}
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    <ul class="icons-list">
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                                <i class="icon-menu9"></i>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                <li><a href="{{ path('crmdocsenvoyes_edit', { 'id': crmDocsEnvoye.id }) }}"><i class="icon-pen"></i> {{ 'crmdocsenvoyes.edit_button'|trans({}, 'crmdocsenvoyes') }}</a></li>
                                                                <li><a href="{{ path('crmdocsenvoyes_delete', { 'id': crmDocsEnvoye.id }) }}" data-target="#modal_remote" data-toggle="modal"><i class="icon-folder-remove"></i> {{ 'crmdocsenvoyes.del_button'|trans({}, 'crmdocsenvoyes') }}</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">(function($){ $(document.body).addClass('sidebar-xs')}(jQuery))</script>

    
{% endblock %}
