{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
                <!-- /page header -->
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h2>{{ 'crmetapesrealisations.creation'|trans({}, 'crmetapesrealisations') }}</h2>
                                </div>
                                <div class="panel-body">
                                {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
                                        <fieldset class="content-group">
                                            <legend class="text-bold">{{ 'crmetapesrealisations.crm'|trans({}, 'crmetapesrealisations') }}</legend>
                                            <div class="row">
                                                <div class="form-group">
                                                    {% set name = 'crmetapesrealisations.idCRM'|trans({}, 'crmetapesrealisations') %}
                                                    {{ form_label(form.idCRM, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(form.idCRM, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapesrealisations.idEtape'|trans({}, 'crmetapesrealisations') %}
                                                    {{ form_label(form.idEtape, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(form.idEtape, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <legend class="text-bold">{{ 'crmetapesrealisations.info'|trans({}, 'crmetapesrealisations') }}</legend>
                                            <div class="row">
                                                <div class="form-group">
                                                    {% set name = 'crmetapesrealisations.observations'|trans({}, 'crmetapesrealisations') %}
                                                    {{ form_label(form.observations, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(form.observations, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <legend class="text-bold">{{ 'crmetapesrealisations.date'|trans({}, 'crmetapesrealisations') }}</legend>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    {% set name = 'crmetapesrealisations.dateaffectation'|trans({}, 'crmetapesrealisations') %}
                                                    {{ form_label(form.dateaffectation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(form.dateaffectation, {'attr': {'class': 'form-control datepicker'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    {% set name = 'crmetapesrealisations.daterealisation'|trans({}, 'crmetapesrealisations') %}
                                                    {{ form_label(form.daterealisation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(form.daterealisation, {'attr': {'class': 'form-control datepicker'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    {% set name = 'crmetapesrealisations.dureerealisation'|trans({}, 'crmetapesrealisations') %}
                                                    {{ form_label(form.dureerealisation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(form.dureerealisation, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <legend class="text-bold">{{ 'crmetapesrealisations.other'|trans({}, 'crmetapesrealisations') }}</legend>
                                            <div class="row">
                                                <div class="form-group">
                                                    {% set name = 'crmetapesrealisations.idUser4affectation'|trans({}, 'crmetapesrealisations') %}
                                                    {{ form_label(form.idUser4affectation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(form.idUser4affectation, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapesrealisations.idUser4realisation'|trans({}, 'crmetapesrealisations') %}
                                                    {{ form_label(form.idUser4realisation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(form.idUser4realisation, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapesrealisations.idStatut'|trans({}, 'crmetapesrealisations') %}
                                                    {{ form_label(form.idStatut, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(form.idStatut, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapesrealisations.idResultat'|trans({}, 'crmetapesrealisations') %}
                                                    {{ form_label(form.idResultat, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(form.idResultat, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapesrealisations.descriptionResultat'|trans({}, 'crmetapesrealisations') %}
                                                    {{ form_label(form.descriptionResultat, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(form.descriptionResultat, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </fieldset>
                                        <button type="submit" class="btn btn-primary" value="Create">
                                            {{ 'crmetapesrealisations.save_button'|trans({}, 'crmetapesrealisations') }}
                                            <i class="icon-arrow-right14 position-right"></i>
                                        </button>
                                    {{ form_end(form, {'render_rest': true}) }}
                                    <script type="text/javascript">
                                        (function($){
                                            /* pour projet redirection */
                                            $('[name*="[idCRM]"]').on('change', function(){
                                                var _location = document.location.href.toString().split('?');
                                                _location = _location[0];
                                                redirectTo(_location + '?idCRM=' + this.value);
                                            });
                                        }(jQuery));
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
{% endblock %}
