{% extends 'base.html.twig' %}

{% block body %}
    {# adding head of header page #}
    {% include 'header.html.twig' %}

        <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Form horizontal -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'entity.creation'|trans({}, 'entity') }}</h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="close" href="{{ path('back_entity_index') }}"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">

                        {{ form_start(form) }}
                            <fieldset class="content-group">
                                <div class="form-group">
                                    {% set name = 'entity.name'|trans({}, 'entity') %}
                                    {{ form_label(form.name, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% set name = 'entity.description'|trans({}, 'entity') %}
                                    {{ form_label(form.description, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                            </fieldset>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">{{ 'entity.submit_button'|trans({}, 'entity') }} <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        {{ form_end(form, {'render_rest': true}) }}
                        <script type="text/javascript">
                            (function($){
                                var lang = '{{ ''|lang(app.request.locale) }}'.toString().toLowerCase();
                                var lang_tab = {'fr': 'lib0', 'en':'lib1', 'nl': 'lib2', 'de': 'lib3', 'es': 'lib4', 'it': 'lib5'};
                                $('[name="appbundle_back_entity[label]"]').on('keyup', function() {
                                    $('[name="appbundle_back_entity[%s]"]'.replace('%s', lang_tab[lang])).val(this.value);
                                })
                            }(jQuery));
                        </script>
                    </div>
                </div>
                <!-- /form horizontal -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    {% include 'foot.html.twig' %}
{% endblock %}