<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h5 class="modal-title">{{ 'crmdocsrecus.confirm_title'|trans([], 'crmdocsrecus') }}</h5>
</div>

<div class="modal-body">
    <h2>{{ 'crmdocsrecus.confirm_delete'|trans([], 'crmdocsrecus')}}</h2>
    {{ form_start(delete_form, {'attr': {'id': 'crmdocsrecus_form'}}) }}
    {{ form_end(delete_form) }}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal">{{ 'crmdocsrecus.close_button'|trans([], 'crmdocsrecus') }}</button>
    <button type="button" class="btn btn-primary" onclick="jQuery('#crmdocsrecus_form').submit()">{{ 'crmdocsrecus.confirm_button'|trans([], 'crmdocsrecus') }}</button>
</div>
