            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-bubbles4"></i>
                    <span class="visible-xs-inline-block position-right">Messages</span>
                    {% if non_lus is defined and non_lus > 0 %}
    					<span class="badge bg-warning-400">
       				{{ non_lus }}
    				</span>
					{% endif %}
                </a>

                <div class="dropdown-menu dropdown-content width-350">
                    <div class="dropdown-content-heading">
                        Messages
                        <ul class="icons-list">
                            <li><a href="{{ path('mail_envoi') }}"><i class="icon-compose"></i></a></li>
                        </ul>
                    </div>
                    <ul class="media-list dropdown-content-body">
	                    {% for m in mails %}
	                    	<li class="media">
	                            <div class="media-left">
	                                <img src="{{ asset('assets/images/placeholder.jpg') }}" class="img-circle img-sm" alt="">
	                                {% if m['people'].lu == 0 %}
	                                	<span class="badge bg-danger-400 media-badge">1</span>
	                                {% endif %}
	                            </div>

	                            <div class="media-body">
	                                <a href="{{ path('mail_read') ~ "/" ~ m['people'].mail.id }}" class="media-heading" >
	                                    <span class="text-semibold">{{ m['people'].userFrom.username }}</span>
	                                    <span class="media-annotation pull-right">
	                                    	 {% if m['people'].mail.daty|date('d-m-Y') == jour|date('d-m-Y') %}
                                                {{m['people'].mail.daty|date('H:i') }}
                                            {% else %}
                                                {{ m['people'].mail.daty|date('D') }}
                                            {% endif %}
	                                    </span>
	                                </a>

                                    <!-- <span class="text-muted">who knows, maybe that would be the best thing for me...</span> -->
	                                <span class="text-muted"> {{ m['people'].mail.message|stringcut(150)|raw }} </span>
	                            </div>
	                        </li>
	                    {% endfor %}
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="{{ path('mail_list') }}" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('assets/images/placeholder.jpg') }}" alt="">
                        <span>{{ app.user.username }}</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-user-plus"></i> {{ 'admin.user.profil'|trans }}</a></li>
                        <li><a href="#"><i class="icon-coins"></i> {{ 'admin.user.balance'|trans }}</a></li>
                        <li><a href="{{ path('mail_inbox') }}">
                            {% if new_today is defined and new_today > 0 %}
                                <span class="badge badge-warning pull-right">{{ new_today }}</span> 
                            {% endif %}
                            <i class="icon-comment-discussion"></i> {{ 'admin.user.messages'|trans }}</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-cog5"></i>  {{ 'admin.user.account_setting'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> {{ 'admin.user.logout'|trans }}</a></li>
                    </ul>
                </li>
            {% endif %}