{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Liste des Clients{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'client.title.add_customer'|trans }}</h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a onclick="document.location = '{{ path('client_liste_clients') }}'" data-action="close"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-tabs nav-tabs-highlight">
                            <li class="active"><a href="#info" data-toggle="tab">{{ 'client.info.title'|trans }}</a></li>
                            <li><a href="#profil" data-toggle="tab">{{ 'client.info.profil'|trans }}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="info" class="tab-pane active col-md-12">
                                <form class="form-horizontal form-validate-jquery" action="{{ path('client_add_client') }}" method="post">
                                    <fieldset class="content-group">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.idGroupe, 'client.fiche.id_group'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.idGroupe, {'attr': {'class': 'form-control select2-search'}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.raisonSociale, 'client.fiche.raisonSociale'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }} 
                                                {{ form_errors(form.raisonSociale) }}
                                                <div class="form-group has-feedback col-lg-8">
                                                    {{ form_widget(form.raisonSociale, {'attr': {'class': 'form-control input-xs', 'placeholder' : 'client.fiche.raisonSociale'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.adr1, 'client.fiche.adresse'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.adr1) }}
                                                <div class="form-group has-feedback col-lg-8">
                                                    {{ form_widget(form.adr1, {'attr': {'class': 'form-control input-xs', 'placeholder' : 'client.fiche.adresse'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.adr2, 'client.fiche.adresse2'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.adr2) }}
                                                <div class="form-group has-feedback col-lg-8">
                                                    {{ form_widget(form.adr2, {'attr': {'class': 'form-control input-xs', 'placeholder' : 'client.fiche.adresse2'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6 col-xs-12">
                                                {% set name = 'userclient.ville'|trans({}, 'userclient') %}
                                                {{ form_label(form.cp, name, {'label_attr': {'class': 'control-label col-lg-4'}})|raw }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.cp, {'attr': {'class': 'form-control select2-search' }}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 col-xs-12">
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.ville, {'attr': {'class': 'form-control' }}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.pays, 'client.fiche.country'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.pays) }}
                                                <div class="form-group has-feedback col-lg-8">
                                                    {{ form_widget(form.pays, {'attr': {'class': 'form-control input-xs', 'placeholder' : 'client.fiche.country'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.tel, 'client.fiche.phone'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.tel) }}
                                                <div class="form-group has-feedback col-lg-8">
                                                    {{ form_widget(form.tel, {'attr': {'class': 'form-control input-xs', 'placeholder' : 'client.fiche.phone'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.gsm, 'client.fiche.gsm'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.gsm) }}
                                                <div class="form-group has-feedback col-lg-8">
                                                    {{ form_widget(form.gsm, {'attr': {'class': 'form-control input-xs', 'placeholder' : 'client.fiche.gsm'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.fax, 'client.fiche.fax'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.fax) }}
                                                <div class="form-group has-feedback col-lg-8">
                                                    {{ form_widget(form.fax, {'attr': {'class': 'form-control input-xs', 'placeholder' : 'client.fiche.fax'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.email, 'client.fiche.email'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.email) }}
                                                <div class="form-group has-feedback col-lg-8">
                                                    {{ form_widget(form.email, {'attr': {'class': 'form-control input-xs', 'placeholder' : 'client.fiche.email'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.echeance, 'client.fiche.deadline'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.echeance) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.echeance, {'attr': {'class': 'form-control touchspin-empty', 'placeholder' : 'client.fiche.deadline'|trans}}) }}
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.siteweb, 'client.fiche.website'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.siteweb) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.siteweb, {'attr': {'class': 'form-control', 'placeholder' : 'client.fiche.website'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.version, 'client.fiche.version'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.version) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.version, {'attr': {'class': 'form-control touchspin-empty', 'placeholder' : 'client.fiche.version'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <br/>
                                        <button type="submit" class="btn btn-primary">{{'client.fiche.submit'|trans}} {# <i class="glyphicon glyphicon-floppy-saved position-right"></i> #}</button>
                                    </fieldset>
                                {# </form> #}
                            </div>
                            <div id="profil" class="tab-pane col-md-12">
                                {# <form> #}
                                    <fieldset>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.latitude, 'client.fiche.latitude'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.latitude) }}
                                                <div class="form-group has-feedback col-lg-8">
                                                    {{ form_widget(form.latitude, {'attr': {'class': 'form-control input-xs', 'placeholder' : 'client.fiche.latitude'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.longitude, 'client.fiche.longitude'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.longitude) }}
                                                <div class="form-group has-feedback col-lg-8">
                                                    {{ form_widget(form.longitude, {'attr': {'class': 'form-control input-xs','placeholder' : 'client.fiche.longitude'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.siret, 'client.fiche.siret'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.siret) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.siret, {'attr': {'class': 'form-control', 'placeholder' : 'client.fiche.siret'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.tvaIntraCommunautaire, 'client.fiche.intra_community_vat'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.tvaIntraCommunautaire) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.tvaIntraCommunautaire, {'attr': {'class': 'form-control', 'placeholder' : 'client.fiche.intra_community_vat'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.ape, 'client.fiche.epa'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.ape) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.ape, {'attr': {'class': 'form-control', 'placeholder' : 'client.fiche.epa'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.trancheEffectif, 'client.fiche.staff_bracket'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.trancheEffectif) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.trancheEffectif, {'attr': {'class': 'form-control', 'placeholder' : 'client.fiche.staff_bracket'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.codeCegid, 'client.fiche.code_cegid'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.codeCegid) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.codeCegid, {'attr': {'class': 'form-control', 'placeholder' : 'client.fiche.code_cegid'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.codeSage, 'client.fiche.code_sage'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.codeSage) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.codeSage, {'attr': {'class': 'form-control', 'placeholder' : 'client.fiche.code_sage'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.codeExact, 'client.fiche.code_exact'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.codeExact) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.codeExact, {'attr': {'class': 'form-control', 'placeholder' : 'client.fiche.code_exact'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.origine, 'client.fiche.origin'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.origine) }}
                                                <div class="form-group has-feedback col-lg-8">
                                                    {{ form_widget(form.origine, {'attr': {'class': 'form-control', 'placeholder' : 'client.fiche.origin'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.idOrigine, 'client.fiche.origin_id'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.idOrigine) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.idOrigine, {'attr': {'class': 'form-control  touchspin-empty', 'placeholder' : 'client.fiche.origin_id'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.idTypePaiement, 'client.fiche.id_type_payement'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.idTypePaiement) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.idTypePaiement, {'attr': {'class': 'form-control touchspin-empty', 'placeholder' : 'client.fiche.id_type_payement'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.idTypeFacturation, 'client.fiche.id_type_facturation'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.idTypeFacturation) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.idTypeFacturation, {'attr': {'class': 'form-control touchspin-empty', 'placeholder' : 'client.fiche.id_type_facturation'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.idFormeJuridique, 'client.fiche.id_legal_form'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                {{ form_errors(form.idFormeJuridique) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.idFormeJuridique, {'attr': {'class': 'form-control touchspin-empty', 'placeholder' : 'client.fiche.id_legal_form'|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend class="text-bold">{{ 'client.fiche.relation_fonction_add'|trans }}</legend>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.iDBusinessUnit, 'client.fiche.iDBusinessUnit'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.iDBusinessUnit, {'attr': {'class': 'form-control select2-search', 'placeholder' : 'client.fiche.siret'|trans}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{ form_label(form.relationsProfessionnelles, 'client.fiche.relationsProfessionnelles'|trans, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                                                <div class="col-lg-8">
                                                    {{ form_widget(form.relationsProfessionnelles, {'attr': {'class': 'form-control select2-search'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <button type="submit" class="btn btn-primary">{{'client.fiche.submit'|trans}}</button>
                                            </div>
                                        </div>
                                    </fieldset>

                                {{ form_rest(form) }}
                                <script type="text/javascript">
                                    (function($){
                                        var codePostal = [];
                                        {% for code in codePostal %}
                                            codePostal['{{ code.code }}'] = {
                                                'id': '{{ code.id }}',
                                                'code': '{{ code.code }}',
                                                'ville': '{{ code.ville }}',
                                                'lat': '{{ code.lat }}',
                                                'lng': '{{ code.lng }}',
                                            };
                                        {% endfor %}

                                        $(function(){
                                            $('[name*="cp"]').select2().on('change', function() {
                                                var val = this.value;
                                                console.info(val);
                                                if(!val) return;

                                                // ville
                                                $('[name*="ville"]').val(codePostal[val].ville);
                                                // latitude
                                                $('[name*="latitude"]').val(codePostal[val].lat)
                                                // longitude
                                                $('[name*="longitude"]').val(codePostal[val].lng)
                                            });
                                        });
                                    }(jQuery))
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
