{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'title.list.clients'|trans }}{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Default ordering -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'client.srih.title'|trans }}</h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                {# <li><a data-action="collapse"></a></li> #}
                            </ul>
                        </div>
                    </div>
                    
                    {% if Srih %}
                        <table class="table datatable-basic">
                            <thead>
                                <tr>
                                    <th>{{ 'client.srih.id'|trans }}</th>
                                    <th>{{ 'client.srih.first_last_name'|trans }}</th>
                                    <th>{{ 'client.srih.bu'|trans }}</th>
                                    <th>{{ 'client.srih.fonction'|trans }}</th>
                                    <th class="text-center">{{ 'projectdocs.actions'|trans({}, 'projectdocs') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for srih in Srih %}
                                    {% set pro = srih[0] %}
                                <tr>
                                    <td>{{ srih.id }}</td>
                                    <td>{{ srih.firstname }} {{ srih.lastname }}</td>
                                    <td>{{ srih.nomBusinessUnit }}</td>
                                    <td>{% if pro %}{{ pro.label }}{% endif %}</td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="{{ path('user_edit', { 'id': srih.id}) }}"><i class="icon-pen"></i> {{ 'projectdocs.edit_button'|trans({}, 'projectdocs') }}</a></li>
                                                    <li><a href="{{ path('user_delete', {'id': srih.id}) }}" data-target="#modal_remote" data-toggle="modal"><i class="icon-folder-remove"></i> {{ 'projectdocs.del_button'|trans({}, 'projectdocs') }}</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <table class="table datatable-show-all">
                            <thead>
                                <tr>
                                    <th>{{ 'client.srih.id'|trans }}</th>
                                    <th>{{ 'client.srih.firstname'|trans }}</th>
                                    <th>{{ 'client.srih.lastname'|trans }}</th>
                                    <th>{{ 'client.srih.typeprofession'|trans }}</th>
                                    <th class="text-center">{{ 'projectdocs.actions'|trans({}, 'projectdocs') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ 'global.no_data'|trans }}</td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}