{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('assets/js/plugins/forms/styling/switchery.min.js')}}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {# adding head of header page #}
    {% include 'header.html.twig' %}

        <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Form horizontal -->
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'projectetapejalons.creation'|trans({}, 'projectetapejalons') }}</h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="close" href="{{ path('projectetapesjalons_index') }}"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">

                        {{ form_start(form) }} {% set idProjet = app.request.get('idProjet')|default('false') %}
                            <fieldset class="content-group">
                                <legend class="text-bold">{{ 'etape.legend_project'|trans({}, 'projectetapejalons') }}</legend>
                                <div class="form-group">
                                    {% set name = 'projectetapejalons.idProjectversion'|trans({}, 'projectetapejalons') %}
                                    {{ form_label(form.idProjectVersion, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        <span class="input-group-addon">
                                        {{ form_widget(form.idProjectVersion, {'attr': {'class': 'form-control select2-search'}}) }}
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% set name = 'projectetapejalons.idEtape'|trans({}, 'projectetapejalons') %}
                                    {{ form_label(form.idEtape, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        <span class="input-group-addon">
                                        {{ form_widget(form.idEtape, {'attr': {'class': 'form-control select2-search'}}) }}
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% set name = 'projectetapejalons.idTypeJalon'|trans({}, 'projectetapejalons') %}
                                    {{ form_label(form.idTypeJalon, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        <span class="input-group-addon">
                                        {{ form_widget(form.idTypeJalon, {'attr': {'class': 'form-control select2-search'}}) }}
                                        </span>
                                    </div>
                                </div>

                                <legend class="text-bold">{{ 'etape.legend_info'|trans({}, 'projectetapejalons') }}</legend>
                                    <div class="form-group">
                                        {% set name = 'projectetapejalons.object'|trans({}, 'projectetapejalons') %}
                                        {{ form_label(form.object, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            <span class="input-group-addon">
                                            {{ form_widget(form.object, {'attr': {'class': 'form-control'}}) }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {% set name = 'projectetapejalons.description'|trans({}, 'projectetapejalons') %}
                                        {{ form_label(form.description, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            <span class="input-group-addon">
                                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {% set name = 'projectetapejalons.dateprevue'|trans({}, 'projectetapejalons') %}
                                        {{ form_label(form.dateprevue, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            <span class="input-group-addon">
                                            {{ form_widget(form.dateprevue, {'attr': {'class': 'form-control datepicker'}}) }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {% set name = 'projectetapejalons.datereelle'|trans({}, 'projectetapejalons') %}
                                        {{ form_label(form.datereelle, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            <span class="input-group-addon">
                                            {{ form_widget(form.datereelle, {'attr': {'class': 'form-control datepicker'}}) }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {% set name = 'projectetapejalons.journeesHommesprevues'|trans({}, 'projectetapejalons') %}
                                        {{ form_label(form.journeesHommesprevues, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            <span class="input-group-addon">
                                            {{ form_widget(form.journeesHommesprevues, {'attr': {'class': 'form-control'}}) }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {% set name = 'projectetapejalons.journeesHommesreelles'|trans({}, 'projectetapejalons') %}
                                        {{ form_label(form.journeesHommesreelles, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            <span class="input-group-addon">
                                            {{ form_widget(form.journeesHommesreelles, {'attr': {'class': 'form-control'}}) }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {% set name = 'projectetapejalons.idResultat'|trans({}, 'projectetapejalons') %}
                                        {{ form_label(form.idResultat, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            <span class="input-group-addon">
                                            {{ form_widget(form.idResultat, {'attr': {'class': 'form-control select2-search'}}) }}
                                            </span>
                                        </div>
                                    </div>

                            </fieldset>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary" {% if idProjet != 0 %} name="submit" value="1" {% endif %}>{{ 'projectetapejalons.submit_button'|trans({}, 'projectetapejalons') }} <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        {{ form_end(form, {'render_rest': true}) }}
                        <script type="text/javascript">
                            (function($){
                                // notification
                                var notify = {
                                    success: function(message) {
                                        $.jGrowl(message, {
                                            header: '{{ 'global.notify_header_success'|trans }}',
                                            theme: 'bg-success'
                                        })
                                    },
                                    error: function(message) {
                                        $.jGrowl(message, {
                                            header: '{{ 'global.notify_header_error'|trans }}',
                                            theme: 'bg-danger'
                                        });
                                    }
                                };

                                /* pour projet redirection */
                                $('[name*="[idProjectVersion]"]').on('change', function(){
                                    var _location = document.location.href.toString().split('?');
                                    _location = _location[0];
                                    redirectTo(_location + '?idProject=' + this.value);
                                });

                                $('form').on('submit', function(e){
                                    // e.preventDefault();

                                    $('[name*="[idProjectVersion]"]').removeAttr('disabled');
                                    this.submit();
                                });

                            }(jQuery))
                        </script>
                    </div>
                </div>
                <!-- /form horizontal -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
{% endblock %}