{% extends 'base.html.twig' %}

{# titre de la page #}
{% block title %}Back Office - Workshop{% endblock %}

{% block body %}
    {# adding head of header page #}
    {% include 'header.html.twig' %}

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page length options -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'workshop.list'|trans }}</h5><br/>
                        <button type="button" class="btn bg-teal-400 btn-labeled legitRipple" onclick="document.location='{{ path('back_workshop_new')}}'">
                            <b><i class="icon-add"></i></b> {{ 'workshop.add_button'|trans }}
                        </button>

                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="reload"></a></li>
                            </ul>
                        </div>
                    </div>
                {% if workshops %}
                    <table class="table datatable-basic">
                        <thead>
                            <tr>
                                <th>{{ '#' }}</th>
                                <th>{{ 'workshop.open'|trans({},'workshop') }}</th>
                                <th>{{ 'workshop.wording'|trans({},'workshop') }}</th>
                                <th class="col-md-2 text-center">{{ 'workshop.couleur'|trans({},'workshop') }}</th>
                                <th class="col-md-1 text-center">{{ 'workshop.logo'|trans({},'workshop') }}</th>
                                <th class="col-md-1 text-center">{{ 'workshop.note'|trans({},'workshop') }}</th>
                                <th class="text-center">{{ 'workshop.actions'|trans({},'workshop') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for workshop in workshops %}
                            <tr>
                                <td style="cursor:pointer" onclick="document.location = '{{ path('back_workshop_show', { 'id': workshop.id }) }}';">{{ workshop.id }}</td>
                                <td>
                                    {% if workshop.ouvert %}
                                        <span class="label label-info">{{ 'global.yes'|trans }}</span>
                                    {% else %}
                                        <span class="label label-default">{{ 'global.no'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ workshop.label }}</td>
                                <td class="col-md-2 text-center" style="background: {{ workshop.couleur }};">{{ workshop.couleur }}</td>
                                <td class="col-md-1 text-center">
                                    {% if workshop.logo %}
                                        <img src="{{ asset('uploads/' ~ workshop.logo ) }}" alt="logo" style="max-width: 50%" />
                                    {% endif %}
                                </td>
                                <td class="col-md-1 text-center">{% if workshop.obs %}<i class="icon-file-text"></i>{% else %}<i class="icon-file-minus2" style="color: #ccc"></i>{% endif %}</td>
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="{{ path('back_workshop_edit', { 'id': workshop.id }) }}"><i class="icon-pen"></i> {{ 'workshop.edit_button'|trans }}</a></li>
                                                <li><a href="{{ path('back_workshop_delete', { 'id': workshop.id }) }}" data-target="#modal_remote" data-toggle="modal"><i class="icon-folder-remove"></i> {{ 'workshop.del_button'|trans }}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table datatable-show-all">
                        <tbody>
                            <tr>
                                <td>{{ 'workshop.no_data'|trans }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
                </div>
            </div>
        </div>
    </div>            
    {% include 'foot.html.twig' %}
{% endblock %}