{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
                <!-- /page header -->
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h2>{{ 'crmetapes.edition'|trans({}, 'crmetapes') }}</h2>
                                </div>
                                <div class="panel-body">
                                {{ form_start(edit_form, {'attr': {'class':'form-horizontal'}}) }}
                                        <fieldset class="content-group">
                                            <legend class="text-bold">{{ 'crmetapes.crm'|trans({}, 'crmetapes') }}</legend>
                                            <div class="row">
                                                <div class="form-group">
                                                    {% set name = 'crmetapes.idCRM'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.idCRM, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.idCRM, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapes.idCycle'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.idCycle, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.idCycle, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <legend class="text-bold">{{ 'crmetapes.info'|trans({}, 'crmetapes') }}</legend>
                                            <div class="row">
                                                <div class="form-group">
                                                    {% set name = 'crmetapes.objet'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.objet, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.objet, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapes.description'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.description, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'projectetapesoperations.user4affectation'|trans({}, 'projectetapesoperations') %}
                                                    {{ form_label(edit_form.user4affectation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.user4affectation, {'attr': {'class': 'form-control listbox-dynamic-options'}}) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <legend class="text-bold">{{ 'crmetapes.date'|trans({}, 'crmetapes') }}</legend>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    {% set name = 'crmetapes.datedebutprevue'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.datedebutprevue, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.datedebutprevue, {'attr': {'class': 'form-control datepicker'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    {% set name = 'crmetapes.datefinprevue'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.datefinprevue, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.datefinprevue, {'attr': {'class': 'form-control datepicker'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    {% set name = 'crmetapes.datedebutreelle'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.datedebutreelle, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.datedebutreelle, {'attr': {'class': 'form-control datepicker'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    {% set name = 'crmetapes.datefinreelle'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.datefinreelle, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.datefinreelle, {'attr': {'class': 'form-control datepicker'}}) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <legend class="text-bold">{{ 'crmetapes.other'|trans({}, 'crmetapes') }}</legend>
                                            <div class="row">
                                                <div class="form-group">
                                                    {% set name = 'crmetapes.idStatut'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.idStatut, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.idStatut, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapes.idResultat'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.idResultat, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.idResultat, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="form-group">
                                                    {% set name = 'crmetapes.reference'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.reference, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.reference, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapes.descriptionResultat'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.descriptionResultat, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.descriptionResultat, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapes.flagAction'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.flagAction, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.flagAction, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapes.flagIdee'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.flagIdee, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.flagIdee, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {% set name = 'crmetapes.flagInformation'|trans({}, 'crmetapes') %}
                                                    {{ form_label(edit_form.flagInformation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                                    <div class="col-lg-10">
                                                        {{ form_widget(edit_form.flagInformation, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>

                                        </fieldset>
                                        <button type="submit" class="btn btn-primary" value="Create">
                                            {{ 'crmetapes.save_button'|trans({}, 'crmetapes') }}
                                            <i class="icon-arrow-right14 position-right"></i>
                                        </button>
                                    {{ form_end(edit_form, {'render_rest': true}) }}
                                    <script type="text/javascript" src="{{ asset('assets/backoffice/js/plugins/forms/inputs/duallistbox.min.js') }}"></script>
                                    <script type="text/javascript">
                                        (function($){
                                            $('.listbox-dynamic-options').bootstrapDualListbox({
                                                moveOnSelect: false,
                                                infoText: '{{'roles.infotext'|trans({}, 'roles')}}',
                                                infoTextFiltered: '',
                                                infoTextEmpty: '',
                                                filterPlaceHolder: '{{'roles.filterplaceholder'|trans({}, 'roles')}}',
                                                filterTextClear: '{{'roles.filtertextclear'|trans({}, 'roles')}}'
                                            });
                                        }(jQuery))
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
{% endblock %}
