{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h2>{{ 'crmdossier.creation'|trans({}, 'crmdossier') }}</h2>
                    </div>
                    <div class="panel-body">
                    {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
                        <fieldset class="content-group">
                            <legend class="text-bold">{{ 'crmdossier.crm'|trans({}, 'crmdossier') }}</legend>
                            <div class="row">
                                <div class="form-group">
                                    {% set name = 'crmdossier.icone'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.icone, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.icone, {'attr': {'class': 'form-control upload-file', 'data-preview' : ''}}) }}
                                     </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.idEntiteJ'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.idEntiteJ, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.idEntiteJ, {'attr': {'class': 'form-control select-search'}}) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.idCycle'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.idCycle, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.idCycle, {'attr': {'class': 'form-control select-search'}}) }}
                                    </div>
                                </div>
                            </div>

                            <legend class="text-bold">{{ 'crmdossier.info'|trans({}, 'crmdossier') }}</legend>
                            <div class="row">
                                <div class="form-group">
                                    {% set name = 'crmdossier.label'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.label, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% set name = 'crmdossier.descriptionPerimetres'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.descriptionPerimetres, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.descriptionPerimetres, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>

                            <legend class="text-bold">{{ 'crmdossier.date'|trans({}, 'crmdossier') }}</legend>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.datedebutPrevue'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.datedebutPrevue, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.datedebutPrevue, {'attr': {'class': 'form-control datepicker'}}) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.datefinPrevue'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.datefinPrevue, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.datefinPrevue, {'attr': {'class': 'form-control datepicker'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.datedebutReelle'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.datedebutReelle, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.datedebutReelle, {'attr': {'class': 'form-control datepicker'}}) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.datefinReelle'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.datefinReelle, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.datefinReelle, {'attr': {'class': 'form-control datepicker'}}) }}
                                    </div>
                                </div>
                            </div>

                            <legend class="text-bold">{{ 'crmdossier.other'|trans({}, 'crmdossier') }}</legend>
                            <div class="row">
                                
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.idOwner'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.idOwner, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.idOwner, {'attr': {'class': 'form-control select-search'}}) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.idWatcher'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.idWatcher, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.idWatcher, {'attr': {'class': 'form-control select-search'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.Rakingprevu'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.Rakingprevu, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.Rakingprevu, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.Rakingactuel'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.Rakingactuel, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.Rakingactuel, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.idResultat'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.idResultat, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.idResultat, {'attr': {'class': 'form-control select-search'}}) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.descriptionResultat'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.descriptionResultat, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.descriptionResultat, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.idMarketSegment'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.idMarketSegment, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.idMarketSegment, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.statut'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.statut, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.statut, {'attr': {'class': 'form-control select-search'}}) }}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.modeAcces'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.modeAcces, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.modeAcces, {'attr': {'class': 'form-control select-search'}}) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    {% set name = 'crmdossier.reference'|trans({}, 'crmdossier') %}
                                    {{ form_label(form.reference, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div>{{ form_widget(form.idCreateur, {'value': app.session.get('log')}) }}</div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary" value="Create">
                            {{ 'crmdossier.save_button'|trans({}, 'crmdossier') }}
                            <i class="icon-arrow-right14 position-right"></i>
                        </button>
                    {{ form_end(form, {'render_rest': true}) }}
                        <script type="text/javascript">
                            var lang = '{{ ''|lang(app.request.locale) }}'.toString().toLowerCase();
                            var desc_tab = {'fr': 'descriptionPerimetre0', 'en':'descriptionPerimetre1', 'nl': 'descriptionPerimetre2', 'de': 'descriptionPerimetre3', 'es': 'descriptionPerimetre4', 'it': 'descriptionPerimetre5'};
                            var preview = [];

                             // select with search
                            $(".select-search").select2();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
