<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h5 class="modal-title">{{ 'crmdossier.confirm_title'|trans([], 'crmdossier') }}</h5>
</div>

<div class="modal-body">
    <h2>{{ 'crmdossier.confirm_delete'|trans([], 'crmdossier')}}</h2>
    {{ form_start(delete_form, {'attr': {'id': 'crmdossier_form'}}) }}
    {{ form_end(delete_form) }}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal">{{ 'crmdossier.close_button'|trans([], 'crmdossier') }}</button>
    <button type="button" class="btn btn-primary" onclick="jQuery('#crmdossier_form').submit()">{{ 'crmdossier.confirm_button'|trans([], 'crmdossier') }}</button>
</div>
