{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('assets/js/plugins/forms/styling/switchery.min.js')}}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {# adding head of header page #}
    {% include 'header.html.twig' %}

        <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Form horizontal -->
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'OperationsIssues.creation'|trans({}, 'operationsissues') }}</h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="close" href="{{ path('operationsissues_index') }}"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">

                        {{ form_start(form) }}
                            <fieldset class="content-group">

                                <legend class="text-bold">{{ 'OperationsIssues.legend_project'|trans({}, 'operationsissues') }}</legend>
                                <div class="row">
                                    <div class="form-group">
                                        {% set name = 'OperationsIssues.idProjectVersion'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.idProjectVersion, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.idProjectVersion, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'OperationsIssues.idEtape'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.idEtape, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.idEtape, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'OperationsIssues.idOperation'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.idOperation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.idOperation, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <legend class="text-bold">{{ 'OperationsIssues.legend_info'|trans({}, 'operationsissues') }}</legend>
                                <div class="row">
                                    <div class="form-group">
                                        {% set name = 'OperationsIssues.libelle'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.libelle, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {% set name = 'OperationsIssues.descriptionProbleme'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.descriptionProbleme, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.descriptionProbleme, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'OperationsIssues.descriptionCorrection'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.descriptionCorrection, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.descriptionCorrection, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <legend class="text-bold">{{ 'OperationsIssues.legend_date'|trans({}, 'operationsissues') }}</legend>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        {% set name = 'OperationsIssues.datedebut'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.datedebut, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.datedebut, {'attr': {'class': 'form-control datepicker'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        {% set name = 'OperationsIssues.datefin'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.datefin, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.datefin, {'attr': {'class': 'form-control datepicker'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        {% set name = 'OperationsIssues.datedebutcorrection'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.datedebutcorrection, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.datedebutcorrection, {'attr': {'class': 'form-control datepicker'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {% set name = 'OperationsIssues.datefincorrection'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.datefincorrection, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.datefincorrection, {'attr': {'class': 'form-control datepicker'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        {% set name = 'OperationsIssues.datedebutvalidation'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.datedebutvalidation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.datedebutvalidation, {'attr': {'class': 'form-control datepicker'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {% set name = 'OperationsIssues.datefinvalidation'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.datefinvalidation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            {{ form_widget(form.datefinvalidation, {'attr': {'class': 'form-control datepicker'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <legend class="text-bold">{{ 'OperationsIssues.legend_users'|trans({}, 'operationsissues') }}</legend>
                                <div class="row">

                                    {{ form_widget(form.idUser4creation, {'attr': {'class': 'form-control'}, 'value': app.user.id}) }}
                                    <div class="form-group col-md-6">
                                        {% set name = 'OperationsIssues.idUser4correction'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.idUser4correction, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            <span class="input-group-addon switchery-xs">
                                            {{ form_widget(form.idUser4correction, {'attr': {'class': 'form-control'}}) }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {% set name = 'OperationsIssues.idUser4validation'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.idUser4validation, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            <span class="input-group-addon switchery-xs">
                                            {{ form_widget(form.idUser4validation, {'attr': {'class': 'form-control'}}) }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                                <legend class="text-bold">{{ 'OperationsIssues.legend_other'|trans({}, 'operationsissues') }}</legend>
                                <div class="row">
                                    <div class="form-group">
                                        {% set name = 'OperationsIssues.idStatut'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.idStatut, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            <span class="input-group-addon switchery-xs">
                                            {{ form_widget(form.idStatut, {'attr': {'class': 'form-control'}}) }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set name = 'OperationsIssues.idPriorite'|trans({}, 'operationsissues') %}
                                        {{ form_label(form.idPriorite, name, {'label_attr': {'class': 'control-label col-lg-2'}})|raw }}
                                        <div class="col-lg-10">
                                            <span class="input-group-addon switchery-xs">
                                            {{ form_widget(form.idPriorite, {'attr': {'class': 'form-control'}}) }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">{{ 'OperationsIssues.submit_button'|trans({}, 'operationsissues') }} <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        {{ form_end(form, {'render_rest': true}) }}
                        <script type="text/javascript">
                            (function($){
                                // notification
                                var notify = {
                                    success: function(message) {
                                        $.jGrowl(message, {
                                            header: '{{ 'global.notify_header_success'|trans }}',
                                            theme: 'bg-success'
                                        })
                                    },
                                    error: function(message) {
                                        $.jGrowl(message, {
                                            header: '{{ 'global.notify_header_error'|trans }}',
                                            theme: 'bg-danger'
                                        });
                                    }
                                };

                                /* pour projet redirection */
                                $('[name*="[idProjectVersion]"]').on('change', function(){
                                    var _location = document.location.href.toString().split('?');
                                    _location = _location[0];
                                    redirectTo(_location + '?idProject=' + this.value);
                                });

                                /* pour etape redirection */
                                $('[name*="[idEtape]"]').on('change', function(){
                                    var _location = document.location.href.toString().split('?');
                                    _location = _location[0];
                                    redirectTo(_location + '?idEtape=' + this.value);
                                });
                                
                            }(jQuery))
                        </script>
                    </div>
                </div>
                <!-- /form horizontal -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
{% endblock %}