{% extends 'base.html.twig' %}

{# titre de la page #}
{% block title %}Back Office - crmparammodeaccess{% endblock %}

{% block body %}
    {# adding head of header page #}
    {% include 'header.html.twig' %}

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page length options -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ 'crmparammodeaccess.list'|trans({}, 'crmparammodeaccess') }}</h5><br/>
                        <button type="button" class="btn bg-teal-400 btn-labeled legitRipple" onclick="document.location='{{ path('crmparammodeaccess_new')}}'">
                            <b><i class="icon-add"></i></b> {{ 'crmparammodeaccess.add_button'|trans({}, 'crmparammodeaccess') }}
                        </button>

                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="close" href="{{ path('crmparammodeaccess_index')}}"></a></li>
                            </ul>
                        </div>
                    </div>
                {% if crmParamModeAccess %}
                    <table class="table datatable-basic">
                        <thead>
                            <tr>
                                <th>{{ '#' }}</th>
                                <th>{{ 'crmparammodeaccess.open'|trans({}, 'crmparammodeaccess') }}</th>
                                <th>{{ 'crmparammodeaccess.label'|trans({}, 'crmparammodeaccess') }}</th>
                                <th class="col-md-2 text-center">{{ 'crmparammodeaccess.couleur'|trans({},'crmparammodeaccess') }}</th>
                                <th class="col-md-1 text-center">{{ 'crmparammodeaccess.logo'|trans({},'crmparammodeaccess') }}</th>
                                <th class="col-md-1 text-center">{{ 'crmparammodeaccess.note'|trans({},'crmparammodeaccess') }}</th>
                                <th class="text-center">{{ 'crmparammodeaccess.actions'|trans({},'crmparammodeaccess') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for crmparammodeaccess in crmParamModeAccess %}
                            <tr>
                                <td style="cursor:pointer" onclick="document.location = '{{ path('crmparammodeaccess_show', { 'id': crmparammodeaccess.id }) }}';">{{ crmparammodeaccess.id }}</td>
                                <td>{% if crmparammodeaccess.ouvert %}
                                    <span class="label label-info">{{ 'global.yes'|trans }}</span> {% else %}
                                    <span class="label label-default">{{ 'global.no'|trans }}</span>
                                    {% endif %}</td>
                                <td>{{ crmparammodeaccess.label }}</td>
                                <td class="col-md-2 text-center" style="background: {{ crmparammodeaccess.couleur }};">{{ crmparammodeaccess.couleur }}</td>
                                <td class="col-md-1 text-center">
                                    {% if crmparammodeaccess.logo %}
                                        <img src="{{ asset('uploads/' ~ crmparammodeaccess.logo ) }}" alt="logo" style="max-width: 50%" />
                                    {% endif %}
                                </td>
                                <td class="col-md-1 text-center">{% if crmparammodeaccess.obs %}<i class="icon-file-text"></i>{% else %}<i class="icon-file-minus2" style="color: #ccc"></i>{% endif %}</td>
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="{{ path('crmparammodeaccess_edit', { 'id': crmparammodeaccess.id }) }}"><i class="icon-pen"></i> {{ 'crmparammodeaccess.edit_button'|trans({}, 'crmparammodeaccess') }}</a></li>
                                                <li><a href="{{ path('crmparammodeaccess_delete', { 'id': crmparammodeaccess.id }) }}"
                                                    data-target="#modal_remote" data-toggle="modal"><i class="icon-folder-remove"></i> {{ 'crmparammodeaccess.del_button'|trans({}, 'crmparammodeaccess') }}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table datatable-show-all">
                        <tbody>
                            <tr>
                                <td>{{ 'crmparammodeaccess.no_data'|trans({}, 'crmparammodeaccess') }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
                </div>
            </div>
        </div>
    </div>  
    {# footer #}          
    {% include 'foot.html.twig' %}

{% endblock %}